@model IEnumerable<TelemipAdapter.Models.Incls.Incl>

@{
    ViewData["Title"] = "Инклинометры";
}

    <h3>Инклинометры</h3>

@*<p>
    <a asp-action="Create">Создать</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.InitX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Y)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.InitX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.X)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Y)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
